@model PermitsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Permits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Insert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLastName" class="control-label"></label>
                <input asp-for="EmployeeLastName" class="form-control" />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionType" class="control-label"></label>
                <select asp-for="PermissionType" class="form-control" asp-items="ViewBag.PermissionType"></select>
                @*<input asp-for="PermissionType" class="form-control" />*@
                <span asp-validation-for="PermissionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermitDate" class="control-label"></label>
                <input asp-for="PermitDate" class="form-control" />
                <span asp-validation-for="PermitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
